@charset "UTF-8";

.new-developer, .edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  box-sizing: border-box;
  font-smoothing: antialiased;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font: 14px Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #fff;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  font-smoothing: antialiased;
  font-weight: 300;
  transition: opacity 2s ease-in;
  background: url(../imgs/background.jpg) no-repeat center center fixed;
  background-size: cover;
}

ul {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.logo {
  background: url(../imgs/logo.png) no-repeat;
  background-size: 280px;
  height: 350px;
  margin-left: calc(50% - 145px);
  margin-top: 30px;
}

#app {
  opacity: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  font-smoothing: antialiased;
  outline: none;
}

input[type="checkbox"] {
  outline: none;
}

.hidden {
  display: none;
}

.appcontainer {
  margin: 8px 0 40px;
  position: relative;
  border-radius: 10px 10px 10px 10px;
  opacity: 0;
  min-width: 550px;
  input {
    &::-webkit-input-placeholder, &::-moz-placeholder, &::input-placeholder {
      font-style: italic;
      font-weight: 300;
      color: #e6e6e6;
    }
  }
  h1 {
    position: absolute;
    top: -135px;
    width: 100%;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: rgba(41, 37, 37, 0.15);
    text-rendering: optimizeLegibility;
    line-height: 0.6em;
  }
}

.new-developer {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  background: rgba(255, 255, 255, 0.47);
}

.list {
  position: relative;
  z-index: 2;
  min-width: 550px;
  top: 10px;
}

.developers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background: rgba(255, 255, 255, 0.47);
}

.clear-button {
  background-image: url('data:image/svg+xml;utf8,<svg fill="#D42E38" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="95" height="83.3" viewBox="0 0 95 83.3" enable-background="new 0 0 95.016 83.347" xml:space="preserve"><path d="M47.5 68.8c-14.9 0-27.1-12.2-27.1-27.1S32.6 14.6 47.5 14.6s27.1 12.2 27.1 27.1S62.5 68.8 47.5 68.8zM47.5 15.6c-14.4 0-26.1 11.7-26.1 26.1s11.7 26.1 26.1 26.1S73.6 56.1 73.6 41.7 61.9 15.6 47.5 15.6z"/></svg>');
  position: relative;
  top: 34px;
  left: calc(50% - 22px);
  background-size: cover;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.clear-text {
  width: 96px;
  position: absolute;
  top: 41px;
  left: 5px;
  font-size: 0.9em;
}

ul.developers-list {
  &.left > li:after {
    position: absolute;
    top: 18px;
    left: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <path d="M9 11.75c-.69 0-1.25.56-1.25 1.25s.56 1.25 1.25 1.25 1.25-.56 1.25-1.25-.56-1.25-1.25-1.25zm6 0c-.69 0-1.25.56-1.25 1.25s.56 1.25 1.25 1.25 1.25-.56 1.25-1.25-.56-1.25-1.25-1.25zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8 0-.29.02-.58.05-.86 2.36-1.05 4.23-2.98 5.21-5.37C11.07 8.33 14.05 10 17.42 10c.78 0 1.53-.09 2.25-.26.21.71.33 1.47.33 2.26 0 4.41-3.59 8-8 8z"/> <path d="M0 0h24v24H0z" fill="none"/></svg>');
    width: 24px;
    height: 24px;
    content: '';
  }
  &.right > li:before {
    position: absolute;
    top: 8px;
    left: -27px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#e57f85" width="50" height="39" viewBox="0 0 83.4 69.2"><path d="M41.8 54.2c-4.5 0-9 0-13.5 0 -0.6 0-1.2 0-1.7 0 -3-0.3-4.3-1.6-4.5-4.6 0-0.4 0-0.8 0-1.2 0-5.2 0-10.5 0-15.7 0-0.3 0-0.7 0-1 0.2-3.4 1.6-4.7 5-4.9 0.4 0 0.8 0 1.2 0 9 0 18 0 27 0 0.3 0 0.7 0 1 0 3.8 0.1 5.2 1.5 5.3 5.4 0 5.6 0 11.2 0 16.7 0 3.9-1.5 5.4-5.5 5.4C51.3 54.2 46.5 54.2 41.8 54.2zM49.8 46.4c-5.4 0-10.7 0-16.1 0 0 1.4 0 2.7 0 4.1 5.4 0 10.7 0 16.1 0C49.8 49.1 49.8 47.8 49.8 46.4zM27.7 36.5c1.4 0 2.7 0 4.1 0 0-1.4 0-2.7 0-4.1 -1.4 0-2.7 0-4.1 0C27.7 33.8 27.7 35.1 27.7 36.5zM33.7 36.4c1.5 0 2.8 0 4.1 0 0-1.4 0-2.6 0-4 -1.4 0-2.7 0-4.1 0C33.7 33.8 33.7 35 33.7 36.4zM43.7 36.5c0-1.5 0-2.8 0-4.1 -1.4 0-2.6 0-4 0 0 1.4 0 2.7 0 4.1C41.2 36.5 42.4 36.5 43.7 36.5zM49.8 32.4c-1.4 0-2.7 0-4.1 0 0 1.4 0 2.7 0 4.1 1.4 0 2.7 0 4.1 0C49.8 35 49.8 33.8 49.8 32.4zM51.7 36.4c1.5 0 2.8 0 4.1 0 0-1.4 0-2.6 0-4 -1.4 0-2.7 0-4.1 0C51.7 33.8 51.7 35 51.7 36.4zM27.7 38.4c0 1.4 0 2.7 0 4.1 1.4 0 2.7 0 4.1 0 0-1.4 0-2.7 0-4.1C30.4 38.4 29.2 38.4 27.7 38.4zM33.7 38.4c0 1.4 0 2.7 0 4.1 1.4 0 2.7 0 4.1 0 0-1.4 0-2.7 0-4.1C36.4 38.4 35.2 38.4 33.7 38.4zM43.8 38.5c-1.5 0-2.8 0-4.1 0 0 1.4 0 2.6 0 4 1.4 0 2.7 0 4.1 0C43.8 41.1 43.8 39.8 43.8 38.5zM49.8 42.5c0-1.4 0-2.7 0-4.1 -1.4 0-2.7 0-4.1 0 0 1.4 0 2.7 0 4.1C47.2 42.5 48.4 42.5 49.8 42.5zM51.7 38.4c0 1.4 0 2.7 0 4.1 1.4 0 2.7 0 4.1 0 0-1.4 0-2.7 0-4.1C54.4 38.4 53.2 38.4 51.7 38.4z"/><path d="M18.3 30.2c0 1.9 0 3.4 0 5 -2.3-2.4-4.4-4.7-6.6-6.9 2-1.8 4.3-3.9 6.6-6 0 1 0 2.5 0 4.4 4.1 0 7.9 0 11.7 0 1.1 0 2.2 0 2.3 1.6 0.1 1.6-0.8 2-2.2 1.9C26.3 30.1 22.5 30.2 18.3 30.2z"/><path d="M65.6 50.7c0-1.8 0-3.4 0-5.1 2.4 2.5 4.6 4.7 6.7 6.9 -2.1 2-4.3 4.1-6.5 6.2 -0.1-1.1-0.2-2.7-0.3-4.5 -3.8 0-7.4 0-11.1 0 -1.2 0-2.6 0.4-2.7-1.6 -0.1-2.1 1.4-1.9 2.7-1.9C58.1 50.7 61.7 50.7 65.6 50.7z"/></svg>');
    width: 50px;
    height: 39px;
    content: '';
  }
  &.left > li:before {
    position: absolute;
    top: 8px;
    left: -27px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#e57f85" width="50" height="39" viewBox="0 0 83.4 69.2"><path d="M41.8 54.2c-4.5 0-9 0-13.5 0 -0.6 0-1.2 0-1.7 0 -3-0.3-4.3-1.6-4.5-4.6 0-0.4 0-0.8 0-1.2 0-5.2 0-10.5 0-15.7 0-0.3 0-0.7 0-1 0.2-3.4 1.6-4.7 5-4.9 0.4 0 0.8 0 1.2 0 9 0 18 0 27 0 0.3 0 0.7 0 1 0 3.8 0.1 5.2 1.5 5.3 5.4 0 5.6 0 11.2 0 16.7 0 3.9-1.5 5.4-5.5 5.4C51.3 54.2 46.5 54.2 41.8 54.2zM49.8 46.4c-5.4 0-10.7 0-16.1 0 0 1.4 0 2.7 0 4.1 5.4 0 10.7 0 16.1 0C49.8 49.1 49.8 47.8 49.8 46.4zM27.7 36.5c1.4 0 2.7 0 4.1 0 0-1.4 0-2.7 0-4.1 -1.4 0-2.7 0-4.1 0C27.7 33.8 27.7 35.1 27.7 36.5zM33.7 36.4c1.5 0 2.8 0 4.1 0 0-1.4 0-2.6 0-4 -1.4 0-2.7 0-4.1 0C33.7 33.8 33.7 35 33.7 36.4zM43.7 36.5c0-1.5 0-2.8 0-4.1 -1.4 0-2.6 0-4 0 0 1.4 0 2.7 0 4.1C41.2 36.5 42.4 36.5 43.7 36.5zM49.8 32.4c-1.4 0-2.7 0-4.1 0 0 1.4 0 2.7 0 4.1 1.4 0 2.7 0 4.1 0C49.8 35 49.8 33.8 49.8 32.4zM51.7 36.4c1.5 0 2.8 0 4.1 0 0-1.4 0-2.6 0-4 -1.4 0-2.7 0-4.1 0C51.7 33.8 51.7 35 51.7 36.4zM27.7 38.4c0 1.4 0 2.7 0 4.1 1.4 0 2.7 0 4.1 0 0-1.4 0-2.7 0-4.1C30.4 38.4 29.2 38.4 27.7 38.4zM33.7 38.4c0 1.4 0 2.7 0 4.1 1.4 0 2.7 0 4.1 0 0-1.4 0-2.7 0-4.1C36.4 38.4 35.2 38.4 33.7 38.4zM43.8 38.5c-1.5 0-2.8 0-4.1 0 0 1.4 0 2.6 0 4 1.4 0 2.7 0 4.1 0C43.8 41.1 43.8 39.8 43.8 38.5zM49.8 42.5c0-1.4 0-2.7 0-4.1 -1.4 0-2.7 0-4.1 0 0 1.4 0 2.7 0 4.1C47.2 42.5 48.4 42.5 49.8 42.5zM51.7 38.4c0 1.4 0 2.7 0 4.1 1.4 0 2.7 0 4.1 0 0-1.4 0-2.7 0-4.1C54.4 38.4 53.2 38.4 51.7 38.4z"/><path d="M18.3 30.2c0 1.9 0 3.4 0 5 -2.3-2.4-4.4-4.7-6.6-6.9 2-1.8 4.3-3.9 6.6-6 0 1 0 2.5 0 4.4 4.1 0 7.9 0 11.7 0 1.1 0 2.2 0 2.3 1.6 0.1 1.6-0.8 2-2.2 1.9C26.3 30.1 22.5 30.2 18.3 30.2z"/><path d="M65.6 50.7c0-1.8 0-3.4 0-5.1 2.4 2.5 4.6 4.7 6.7 6.9 -2.1 2-4.3 4.1-6.5 6.2 -0.1-1.1-0.2-2.7-0.3-4.5 -3.8 0-7.4 0-11.1 0 -1.2 0-2.6 0.4-2.7-1.6 -0.1-2.1 1.4-1.9 2.7-1.9C58.1 50.7 61.7 50.7 65.6 50.7z"/></svg>');
    width: 50px;
    height: 39px;
    content: '';
    right: -27px;
    left: auto;
  }
}

.developers-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  width: 273px;
  max-width: 273px;
  height: 58px;
  overflow: hidden;
  &:last-child {
    border-bottom: none;
  }
  &.editing {
    border-bottom: none;
    padding: 0;
    .edit {
      display: block;
      width: 506px;
      padding: 13px 17px 12px;
      margin: 0 0 0 43px;
    }
    .view {
      display: none;
    }
    &:last-child {
      margin-bottom: -1px;
    }
  }
  label {
    white-space: pre-line;
    word-break: break-all;
    padding: 15px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #d3d3d3;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
    &:hover {
      color: #000;
    }
    &:after {
      content: '×';
    }
  }
  .edit {
    display: none;
  }
  &:hover .destroy {
    display: block;
  }
}

.developers-bar {
  ul {
    -webkit-margin-before: 0.4em;
    -webkit-margin-after: 0.2em;
    -webkit-margin-start: 0.2em;
    -webkit-margin-end: 0.2em;
    -webkit-padding-start: 0.2em;
  }
  li {
    position: relative;
    height: 30px;
    overflow: hidden;
    padding: 2px;
    display: inline-block;
    margin-right: 5px;
    &:last-child {
      border-bottom: none;
    }
    &.editing {
      border-bottom: none;
      padding: 0;
      .edit {
        display: block;
        width: 100px;
        font-size: inherit;
      }
      .view {
        display: none;
      }
      &:last-child {
        margin-bottom: -1px;
      }
    }
    label {
      white-space: pre-line;
      word-break: break-all;
      display: block;
      transition: color 0.4s;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: rgb(231, 231, 231);
      display: inline-block;
      padding: 2px;
      padding-right: 20px;
      padding-left: 5px;
      border-radius: 5px;
    }
    .destroy {
      position: absolute;
      top: 0;
      right: 2px;
      bottom: 0;
      width: 20px;
      height: 20px;
      margin: auto 0;
      font-size: 17px;
      color: #d3d3d3;
      margin-bottom: 11px;
      transition: color 0.2s ease-out;
      display: block;
      &:hover {
        color: #000;
      }
      &:after {
        content: '×';
      }
    }
    .edit {
      display: none;
    }
    &:hover .destroy {
      display: block;
    }
  }
}

/*! CSShake :: Shake :: (c) 2015 @elrumordelaluz :: Licensed under MIT */
.shake {
  animation-name: shake;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  display: inline-block;
  transform-origin: center center;
  animation-play-state: running;
}

@keyframes shake {
  2% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg);
  }

  22% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
  }

  44% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg);
  }

  46% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }

  48% {
    transform: translate(1.5px, 1.5px) rotate(1.5deg);
  }

  50% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg);
  }

  52% {
    transform: translate(-0.5px, 0.5px) rotate(1.5deg);
  }

  54% {
    transform: translate(1.5px, -1.5px) rotate(0.5deg);
  }

  56% {
    transform: translate(-0.5px, -1.5px) rotate(3.5deg);
  }

  58% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg);
  }

  60% {
    transform: translate(-0.5px, -0.5px) rotate(3.5deg);
  }

  62% {
    transform: translate(1.5px, 2.5px) rotate(-1.5deg);
  }

  64% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }

  66% {
    transform: translate(2.5px, 1.5px) rotate(-1.5deg);
  }

  68% {
    transform: translate(2.5px, 0.5px) rotate(3.5deg);
  }

  70% {
    transform: translate(-1.5px, -1.5px) rotate(1.5deg);
  }

  72% {
    transform: translate(-1.5px, -0.5px) rotate(-1.5deg);
  }

  74% {
    transform: translate(-0.5px, -1.5px) rotate(3.5deg);
  }

  76% {
    transform: translate(1.5px, 1.5px) rotate(1.5deg);
  }

  78% {
    transform: translate(1.5px, -0.5px) rotate(3.5deg);
  }

  80% {
    transform: translate(-0.5px, 1.5px) rotate(3.5deg);
  }

  82% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
  }

  84% {
    transform: translate(-0.5px, 0.5px) rotate(1.5deg);
  }

  86% {
    transform: translate(1.5px, -0.5px) rotate(1.5deg);
  }

  88% {
    transform: translate(2.5px, -1.5px) rotate(0.5deg);
  }

  90% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg);
  }

  92% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg);
  }

  94% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg);
  }

  96% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
  }

  98% {
    transform: translate(-0.5px, -1.5px) rotate(0.5deg);
  }

  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}